.gallery {
  &__wrapper {
    text-align: center;
  }

  &__img-1 {
    display: flex;
    justify-content: center;
    gap: 33px;
  }

  &__desc {
    padding: 10px 0 54px 0;
  }

  &__btn {
    margin-top: 57.5px;
    background: $BG-COLOR;
    color: white;
  }
}

@include mobil() {
  .gallery {
    &__img-2 {
      display: none;
    }

    &__img-1 {
      flex-direction: column;
      align-items: center;
      img {
        width: 349px;
        height: 285px;
      }
    }
  }
}
